* {
    padding: 2%;
    margin: 2%;
}



div {
    width: 100px;
    height: 100px;
    background-color: #555;
}

div:nth-child(1) {
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms; /*js använder det enheten*/
    background-color: hsl(10, 100%, 48%);
    /* left-right top-bottom blur-amount color  */
    box-shadow: 3px 2px 2px rgb(0, 255, 26);

}
div:nth-child(2) {
    animation-duration: 5000ms;
    animation-timing-function: ease-in-out;
    animation-name: myAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@keyframes myAnimation {
    0%{
        translate: 0px 0px;
        background-color: hsl(55, 100%, 48%);

    }
    50%{
        translate: 100px 100px;
        background-color: hsl(201, 100%, 48%);

    }
    100%{
        translate: -50px 0px;
        background-color: hsl(299, 100%, 48%);

    }
    
}


div:nth-child(1):hover {
    box-shadow: 2px 2px 100px rgb(0, 13, 255);
    background-color: hsl(60, 100%, 48%);
}
div:nth-child(2):hover {
}

#container:hover div{ /*fram transision*/

    transition: translate;
    transition-duration: 500ms;
    translate: 500px 0px;
}



#hover-fix{
    animation-name: myAnimation;
}
main:hover {
    animation-duration: 5000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@media screen and (min-width:500px){

    *{
        background-color: rgb(225, 111, 111);
    }

    
}