
*{
    font-size: 3rem;
    padding: 0;
    margin: 0;
    --icon-size: 150px;
}
body {  /**/
    background-color: rgb(119, 223, 255);
}
body::after{
    content: "DESKTOP";
}

@media (min-width:500px) and (max-width: 1200px) { /*tablet*/
    body {
        background-color: rgb(0, 255, 13);
    }
    body::after{
        content: "TABLET";
    }
}

@media  (width < 500px) {  /* mobile*/
    body {
        background-color: red;
    }
    body::after{
        content: "MOBILE";
    }
}

input[type="checkbox"]{ /* input checkbox*/
   position:absolute;
    margin-top: calc(-1 * var(--icon-size));
    width:var(--icon-size);
    height:var(--icon-size);
    opacity: 0;
    
}
input[type="checkbox"]:checked{
    width:var(--icon-size);
    height:var(--icon-size);
}

input[type="checkbox"] + ul{  /*på ul*/
  display: none;
  opacity: 0;
}

input[type="checkbox"]:checked + ul{
    display: block;
    opacity: 1;
}

.hamburgerIcon{
    background-image: url("hamburgare_Artboard 8.png") ;
    background-repeat: no-repeat;
    background-size: fit;
    background-position: center center;
    width:var(--icon-size);
    height:var(--icon-size);
}

ul{
    background-color: red;
} 
li{
    padding: 1rem;
}
a{
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration: none;
    color:rgb(248, 248, 248);
}
#active li{
    background-color: pink;

}