*{
    margin:0;
    padding:0;
   font-family: Arial, Helvetica, sans-serif;
}
input {
    background-color: grey;
    opacity: 0.2;
    width: 3rem;
    height: 3rem;
}
.navicon {
    display: block;
    position: relative;
    margin-top: calc(-3rem - 0.2rem);
    width: 3rem;
    height: 3rem;
    background-color: rgb(194, 194, 194);
    border-radius: 0.2rem;
    background-image: url("hamburger_Artboard 7.png");
    background-size: contain;
    background-repeat: no-repeat;
/*     outline: 3px dotted black; */
    z-index: -1;
}
input[type="checkbox"] ~ ul {
    display: block;
}

input[type="checkbox"]:checked ~ ul {
    display: none;
}

ul{
    background-color: rgb(187, 187, 187);
    margin-bottom: 3rem;
}
nav ul a li {
    list-style: none;
    padding: 1rem;
    
}
nav ul a{
    color: black;
    text-decoration: none;
}
nav ul a:hover li{
    background-color: rgb(255, 254, 254);
    text-decoration: none;
}
#jsToogler span{
    margin-top: 0;
}