
*{
    background-color: #fff1d4;
}
@media (prefers-color-scheme:dark) {
    

    *{
        background-color: #181818;
    }
    h1,h2,h3,p{
        color:#ddd;
    }

    footer,header{
        background-color: #442f1f;
    }
    img{
        filter:brightness(0.8) contrast(1.2);
    }

    button {
        background-color: #181818;
        border-radius: 0.3rem;
        border: none;
        color: #aaa;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transform: background-color;
        transition-duration: 200ms;
      }
      button:hover {
        background-color: #442f1f;
        color: #ddd;
        transform: background-color;
        transition-duration: 200ms;
      }
      
      button:active{
        background-color: #060606;
        color: #666;

        box-shadow: inset 0 0 2rem #666;
        transform: background-color color;
        transition-duration: 10ms;
      }
    
}