*{
padding: 0.8rem;
font-family: 'Roboto', sans-serif;
}

div {
    position: relative;
    color: red;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 255, 0.16);
    /*   magenta rgb */
    outline: 5px solid currentColor;
    /*  border: 10px solid currentColor;
    background: rgb(246,244,209);
    background: radial-gradient(circle, rgba(246,244,209,1) 0%, rgba(79,61,2,1) 100%);  */
}

main {
    /* flexbox */
    border: 5px solid green;
    flex-direction: row;
    display: flex;
    position: sticky;
    top: 20%;
    bottom: 20%;
    /* gap: 10%; */
    justify-content: space-around;
}

#second {
    position: sticky;
}



#flexbox{
    margin:auto;
    width: 32rem;
    height: 10rem;
    display: flex;
    gap: 1.2rem;
}

#pic{
    
    outline: 5px solid currentColor;
    width: auto;
    height: auto;
    flex-grow: 10;
}
#info-container{
    flex-grow: 1;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    flex-direction: column;
}

#info-container div{
    background-color: aliceblue;
}

ul{
    display:inline-flex;
    vertical-align: middle;
}
li{
    list-style: none;
}

#sticky{
    position:sticky;
    top:0;
}

.dieside{
    display: flex;
    width: 20rem;
    height: 20rem;
    justify-content:center;
    align-items:center;
}

.dot{
    background-color: black;
    width: 2rem;
    height: 2rem;
}

.second{
    justify-content: space-around;
}

.second .dot:nth-child(1){
    background-color: aliceblue;
    align-self: start;
    margin-top: 15%;
}

.second .dot:nth-child(2){
    background-color: red;
    align-self: end;
    margin-bottom: 15%;
}

.third{
    justify-content: space-around;
}


.third .dot:nth-child(1){
    background-color: red;
    align-self: start;
    margin-top: 15%;
}

.third .dot:nth-child(2){
    background-color: red;
    align-self: center;
}
.third .dot:nth-child(3){
    background-color: red;
    align-self: end;
    margin-bottom: 15%;
}